# Exclude state files if present 
*.tfstate
*.tfstate.*

# Exclude variables file 
*.tfvars
*.tfvars.json

# Exclude local .terraform directories
**/.terraform/*

# Exclude override files becouse ususally used localy
override.tf
override.tf.json
*_override.tf
*_override.tf.json
 
# Ignore CLI configuration files
.terraformrc
terraform.rc

# Crash log files
crash.log
crash.*.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

